a {
  color: #000;
  text-decoration: none;
}

.body-container {
  padding-left: 100px;
  padding-right: 100px;
}
.wrap-menu-item {
  /* border: 1px solid #000; */
  width: 30%;
  text-align: center;
  padding: 0 10px;
  padding-bottom: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 7px;
  border-top: 3px solid #004683;
  transition: 0.3s;
  margin-bottom: 20px;
  height: 80px;
}
.menu-item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-item span {
  font-size: 14px;
}
.menu-item p {
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: OpenSans-semibold;
}
.wrap-menu-item:hover {
  background-color: #f1f1f1;
  transition: 0.3s;
}
.wrap-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-address {
  display: flex;
  flex-direction: column;
  color: #fff !important;
  width: 80%;
}
.home-footer {
  background-color: #004683;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.addr-mail {
  margin: 10px 0;
}
.footer-author {
  flex: 1;
}
.logo-image {
  width: 120px;
}
.logo-image img {
  width: 100%;
}
/* .header-logo {
  display: flex;
  align-items: center;
} */
.page-title {
  font-size: 32px;
  font-weight: bold;
  margin-left: 10px;
  color: #fff;
}
.home-header {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #005095;
  margin-bottom: 30px;
}
.uet-short {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.uet-image {
  width: 23%;
  height: 160px;
}
.uet-image img {
  width: 100%;
  height: 100%;
}
.wrap-logo-image {
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-uet-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header-img {
  display: flex;
}
.page-title {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .body-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .body-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .body-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .uet-image:nth-child(4) {
    display: none;
  }
  .uet-image:nth-child(3) {
    display: none;
  }
  .uet-image {
    width: 48%;
  }
  .wrap-menu-item {
    width: 45%;
  }
  .uet-short {
    font-size: 20px;
  }
  .wrap-logo-image {
    width: 30%;
  }
}
@media (max-width: 575px) {
  .body-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .uet-image:nth-child(4) {
    display: none;
  }
  .uet-image:nth-child(3) {
    display: none;
  }
  .uet-image:nth-child(2) {
    display: none;
  }
  .uet-image:nth-child(1) {
    display: none;
  }
  .uet-image {
    width: 48%;
  }
  .wrap-menu-item {
    width: 100%;
  }
  .uet-short {
    font-size: 20px;
  }
  .wrap-logo-image {
    width: 100%;
  }
  .home-footer {
    flex-direction: column;
  }
  .footer-address {
    margin-bottom: 15px;
    width: 100%;
  }
}
